.wrapper {
  display: flex;
  background-color: #88EEFF;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
}
