.wrapper1 {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  flex-wrap: wrap-reverse;
  align-content: space-around;
}

.wrapper2 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row-reverse;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
