.wrapper {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
  font-size: 50
}

.box:nth-child(2) {
  align-self: center;
}

.box:nth-child(3) {
  align-self: flex-end;
}
